body {
  width: 100%;
  min-height:100%;
  background: #F7F2E9;
  background-attachment: fixed;
  background-size: cover;
}

html,body{
  max-width: 100%;
  overflow-x: hidden;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 430px) {
  .flex-grid {
    display: block;
  }
  .noteInput{
    color: pink;
  }
}

.wrapForm {
margin-left:auto;
margin-right:auto;
width:50%;
}

/* part of code snippet from https://codepen.io/keenode/pen/WbYLXM */
.btn {
   position: relative;
   display: block;
   max-width: 300px;
   padding: 10px 20px;
   color: #B78D38;;
   font-size: 24px;
   text-align: center;
   text-decoration: none;
   border: 2px solid #868686;
   overflow: hidden;
   z-index: 1;
   width: 60%;
   float: right;
}


h1{
  color: #2b292b;
	font-family: 'Cinzel Decorative';
	font-size: 80px;
	font-weight: 400;
	line-height: 76px;
	margin-bottom: 72px;
  text-align: center;
}
p {
  color: white;
	font-family: 'pt serif';
	font-size: 22px;
	font-weight: 500;
	line-height: 36px;
	margin: 4 0 24px 144px;


  float:left;
  padding-right: 70px;
  padding-bottom: 10px;
  display: block;
}

.noteStyle{
  padding:10px 10px 38px 34px;
  height: auto;
  margin: auto;
  margin-bottom: 3px;
  width: 50%;
  font-size: 1.4em;
  background-color: #403C34;
  color: white;
  border-radius: 3px;
  opacity: 1;
}

.notesBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.noteInput{
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow:inset 0 -2px 1px rgba(0,0,0,0.03);
    font-size: 1.5em;
    color: #B78D38;
    border-bottom: solid #2b292b;
    text-align: center;
    transition: 0.2s ease-out;
    width: 100%;
}

.noteInput:focus{

    color: #111;
    transition: 0.2s ease-in;
}


.noteContent{
  float:left;
  padding-right: 70px;
  padding-bottom: 10px;
  display: block;
}

.closebtn {
    color:#F7F2E9;
    font-weight: bold;
    float: right;
    cursor: pointer;
    font-size: 1.3em;
}

.closebtn:hover {
    color: #B78D38;
    cursor: pointer;
}
